mat-card {
  margin-bottom: 1rem;

  table {
    display: flex;
    flex-direction: column;

    tr {
      display: flex;

      th, td {
        flex: 1;
      }

      th {
        color: #69f0ae;
      }

      .hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}