<mat-card>
  <h2>List of Guests</h2>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="age">Age (in years)</th>
      <th mat-sort-header="weight">Weight (in lbs)</th>
      <th class="hidden">
        <button mat-button
              color="warn">
          <mat-icon>remove</mat-icon>Remove Guest from List
        </button>
      </th>
    </tr>
    <ng-container *ngIf="sortedData.length > 0; else noData">
      <tr *ngFor="let guest of sortedData; let i=index">
        <td>{{ guest.name }}</td>
        <td>{{ guest.age }}</td>
        <td>{{ guest.weight }}</td>
        <td>
          <button mat-button
                  color="warn"
                  (click)="removeGuest(i)">
            <mat-icon>remove</mat-icon>Remove Guest from List
          </button>
        </td>
      </tr>
    </ng-container>
    <ng-template #noData>
      <tr>
        <td>No data available</td>
      </tr>
    </ng-template>
  </table>  
</mat-card>
