.main-container {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  height: calc(100% - 50px);

  .side-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
  }
}
