<app-header (toggleSideNav)="sideNav.toggle()"></app-header>
<mat-sidenav-container class="main-container">
  <mat-sidenav #sideNav
               opened
               mode="side"
               class="side-nav">
    <mat-nav-list *ngFor="let navItem of navItems">
      <mat-list-item (click)="navigate(navItem.value)">{{ navItem.key }}
        <span *ngIf="navItem.comingSoon">
          <mat-icon matTooltip="Coming Soon!">update</mat-icon>
        </span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>