<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon (click)="emitToggleSideNav()">menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <button mat-icon-button
          aria-label="icon-button with settings icon"
          (click)="navigateToSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button
          aria-label="icon-button with business icon"
          (click)="navigateToLinkedIn()">
    <mat-icon>business</mat-icon>
  </button>
</mat-toolbar>
